/* Шрифты */
@font-face {
	font-family: "SF Pro Display-Medium";
    font-style: bold;
    font-weight: 500;
    src: url('sf-pro-display-medium.otf') format("opentype");
}

@font-face {
	font-family: "SF Pro Display-Regular";
    font-style: normal;
    font-weight: 400;
    src: url('sf-pro-display-regular.ttf') format("truetype");
}

* {
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --bunker: #141516;
    --manatee: #979ea5;
    --white: #ffffff;
    --wild-sand: #f1f3f5;
    --font-size-l: 4vh;
    --font-size-m: 2vh;
    --font-size-s: 1.8vh;
    --font-size-xs: 1.6vh;
    --font-family-sf_pro_display-medium: "SF Pro Display-Medium", Helvetica;
    --font-family-sf_pro_display-regular: "SF Pro Display-Regular", Helvetica;
}

body {
    margin: 0;
    background-image: url('default.svg') !important;
    background-size: cover !important;
    background: #f1f3f5;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-wrap: nowrap;
    flex-direction: column;
}

.menu-font {
    color: var(--manatee);
    font-family: var(--font-family-sf_pro_display-medium);
    font-size: 1.03166666667vw;
    font-style: normal;
    font-weight: 500;
}

.bold {
    background-color: transparent;
    color: var(--bunker);
    font-family: var(--font-family-sf_pro_display-medium);
    font-size: 1.04166666667vw;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.20px;
    line-height: 2vh;
    position: relative;
    text-align: right;
    white-space: nowrap;
    width: fit-content;
    text-decoration: none;
}

::placeholder {
    color: #989FA6;
}

#defaultColorButton div {
    background-color: #F1F3F5;
}

#yellowColorButton div {
    background-color: #F8F5EC;
}

#redColorButton div {
    background-color: #F8ECF3;
}

#blueColorButton div {
    background-color: #E9F0FA;
}

.gray-hovered:hover img {
    filter: invert(66%) sepia(10%) saturate(223%) hue-rotate(169deg) brightness(93%) contrast(92%);
}

.active {
    background-color: #1599F5 !important;
    color: var(--white) !important;
}

.active:hover {
    background-color: #04D1E5 !important;
}

.error {
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 0.83333333333vw;
    font-weight: 500;
    line-height: 0.83333333333vw;
    text-align: left;
}

.success {
    font-family: var(--font-family-sf_pro_display-regular);
    font-size: 0.83333333333vw;
    font-weight: 500;
    line-height: 0.83333333333vw;
    text-align: left;
    color: #09EC3B;
}

.selected { /* Проверить, используется ли где-то */
    background-color: var(--wild-sand) !important;
}

input::placeholder {
    color: #989FA6;
}

input:focus {
    outline: none;
}

@media (orientation: landscape) {

    .logo {
        background-color: transparent;
        left: 1.041666666vh;
        position: absolute;
        top: 1.5vh;
        height: auto;
        width: auto;
        max-height: 6vh;
        z-index: 999;
    }

    .logo-auth {
        background-color: transparent;
        position: absolute;
        top: 1.5vh;
        height: auto;
        width: auto;
        max-height: 6vh;
        z-index: 999;
    }

    .content {
        background-color: white;
        border-radius: 5vh;
        padding: 4.95458298927vh;
        display: flex;
        margin-top: 12.7vh;
    }

    .have-icon {
        align-items: center;
        position: relative;
    }

    .text-label {
        background-color: transparent;
        white-space: nowrap;
    }

    body header {
        background-color: transparent;
        height: 9vh;
        left: 0px;
        overflow: hidden;
        position: absolute;
        top: -0px;
        width: 100vw;
        justify-content: center;
        display: flex;
    }

    body header .menu-placeholder {
        display: none;
    }

    body header .menu {
        align-items: center;
        background-color: var(--white);
        border-radius: 5vh;
        padding: 0.4vh;
        position: absolute;
        top: 1.5vh;
        display: flex;
    }

    body header .menu .selected div {
        color: #141516 !important;
        font-weight: 500;
    }

    body header .menu div {
        color: #989FA6;
    }

    body header .menu .index {
        align-items: center;
        background-color: transparent;
        border-radius: 5vh;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 0.8vh;
        padding: 1vh 0.833333333vw;
        position: relative;
        margin-right: 0;
    }

    body header .menu img {
        background-color: transparent;
        height: 1.6vh;
        margin-top: 0.4vh;
        position: relative;
        width: auto;
    }

    body header .menu .qr {
        background-color: transparent;
        border-radius: 5vh;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 0.8vh;
        padding: 1vh 0.833333333vw;
        margin-right: 0;
    }

    body header .menu .qr img {
        background-color: transparent;
        height: 1.6vh;
        position: relative;
        width: auto;
    }

    body header .menu .history {
        background-color: transparent;
        border-radius: 5vh;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 8px;
        padding: 1vh 0.833333333vw;
        margin-right: 0;
    }

    body header .menu .history img {
        background-color: transparent;
        height: 1.6vh;
        position: relative;
        width: auto;
    }

    body header .menu .price {
        border-radius: 5vh;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 0.8vh;
        padding: 1vh 0.833333333vw;
        margin-right: 0;
    }

    body header .menu .price img {
        background-color: transparent;
        height: 1.6vh;
        position: relative;
        width: auto;
    }

    body header .account {
        align-items: center;
        text-align: center;
        background-color: var(--white);
        border-radius: 5vh;
        display: inline-flex;
        gap: 1vh;
        right: 1.04166666667vw;
        height: 5.2vh;
        padding: 0.4vh 0.208333333vw 0.4vh 1.041666666vw;
        position: absolute;
        top: 1.5vh;
    }

    body header .account a {
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: 0.52083333333vw;
    }

    body header .account .icon {
        display: flex;
        background-color: #F1F3F5;
        border-radius: 500px;
        height: 4.6vh;
        width: 2.291666666vw;
        justify-content: center;
        align-items: center;
    }

    body header .account span {
        display: flex;
        height: 2vh;
        vertical-align: middle;
    }
    
    body footer {
        background-color: transparent;
        left: 0px;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    body footer .privacy {
        color: var(--bunker);
        font-family: var(--font-family-sf_pro_display-regular);
        font-size: 0.83333333333vw;
        font-style: normal;
        font-weight: 400;
        line-height: 1.6vh;
        opacity: 0.3;
        text-align: left;
        margin-left: 1.041666666vw;
        text-decoration: none;
        width: 10vw;
    }

    body footer .company {
        background-color: transparent;
        color: var(--bunker);
        font-family: var(--font-family-sf_pro_display-regular);
        font-size: 0.83333333333vw;
        font-style: normal;
        font-weight: 400;
        line-height: 0.83333333333vw;
        opacity: 0.3;
        text-align: right;
        white-space: nowrap;
        width: 10vw;
    }

    body footer .settings {
        border: none;
        display: flex;
        justify-content: end;
        align-items: center;
        width: 10vw;
    }

    body footer .settings a {
        -webkit-backdrop-filter: blur(20px) brightness(100%);
        backdrop-filter: blur(20px) brightness(100%);
        background-color: white;
        border: none;
        border-radius: 50vh;
        height: 4.4vh;
        width: 4.4vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2vh;
        margin-right: 1.04166666667vw;
    }

    body footer .settings a img {
        height: auto;
        width: 1.04166666667vw;
        display: block;
        margin: auto;
    }

    .cross {
        position: absolute;
        top: 2.61vh;
        right: 2.61vh;
        height: 0.87395833333vw;
        width: 0.87395833333vw;
        filter: invert(77%) sepia(2%) saturate(1396%) hue-rotate(169deg) brightness(82%) contrast(91%);
    }

    .cross:hover {
        filter: invert(5%) sepia(6%) saturate(712%) hue-rotate(169deg) brightness(101%) contrast(92%);
    }
}

@media (orientation: portrait) {

    body {
        display: flex;
        flex-direction: column; /* Если есть вертикальное размещение */
        height: 100vh; /* Используем 100% высоты экрана */
        margin: 0; /* Убираем стандартные отступы */
    }

    .logo-auth {
        background-color: transparent;
        width: auto;
        display: flex;
        margin-top: 7.89473684211vw;
        min-height: 15.7894736842vw;
        max-height: 15.7894736842vw;
    }

    .content {
        background-color: white;
        border-radius: 4.21052631579vw;
        padding-top: 8.42105263158vw;
        padding-right: 5.26315789474vw;
        padding-left: 5.26315789474vw;
        display: flex;
        flex-grow: 1; /* Заставляем блок занимать всё доступное пространство */
        margin-top: 5.26315789474vw; /* Если нужен отступ, оставляем, но он будет уменьшать свободное место */
        width: 100%;
        height: auto; /* Либо убираем, так как `flex-grow` сам растянет */
        box-sizing: border-box; /* Учитываем padding в размерах */
    }

    .have-icon {
        align-items: center;
        position: relative;
    }

    .text-label {
        background-color: transparent;
        white-space: nowrap;
    }

    body header {
        background-color: transparent;
        min-height: 12.8571428571vh;
        max-height: 12.8571428571vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 5.26315789474vw;
        justify-content: center;
        align-items: center;
    }

    body header .logo {
        background-color: transparent;
        width: 9.61052631579vw;
        min-height: 10.5263157895vw;
        display: flex;
        margin-left: 5.26315789474vw;
    }

    body header .menu {
        align-items: center;
        background-color: var(--white);
        border-radius: 4.21052631579vw;
        display: flex;
        flex-direction: column;
        padding: 4.21052631579vw;

        position: absolute;
        width: 89.4736842105vw;
        top: 23vw;
        left: 5.26315789474vw;

        box-shadow: 0px 4px 14px 0px #14151626;
        z-index: 9999;
    }

    body header .menu a {
        width: 100%;
    }

    body header .menu .have-icon {
        width: 100%;
        height: 13.6842105263vw;
        align-items: center;
        background-color: transparent;
        border-radius: 2.63157894737vw;
        display: inline-flex;
        justify-content: space-between;
        padding-left: 4.21052631579vw;
        padding-right: 4.21052631579vw;
        position: relative;
        margin-right: 0;

        color: #989FA6;
    }

    body header .menu .selected {
        background-color: var(--wild-sand) !important;
        color: black !important;
    }

    
    body header .menu .have-icon div {
        font-family: var(--font-family-sf_pro_display-regular);
        font-size: 4.73684210526vw;
        font-style: normal;
        font-weight: 400;
        text-align: left;
    }

    body header .menu .have-icon img {
        background-color: transparent;
        height: 5.26315789474vw;
        position: relative;
        width: auto;
    }

    body header .menu-placeholder {
        display: flex;
        align-items: center;
        background-color: var(--white);
        border-radius: 13.1578947368vw;
        width: 24.2105263158vw;
        height: 10.5263157895vw;
        justify-content: center;
        align-items: center;
    }

    body header .menu-placeholder span {
        font-family: var(--font-family-sf_pro_display-medium);
        font-size: 4.21052631579vw;
        font-style: normal;
        font-weight: 400;
        text-align: left;
        color: #989FA6;
        margin-right: 1.23421052632vw;
    }

    body header .menu-placeholder img {
        height: 3.06052631579vw;
        width: auto;
        margin-top: 0.55263157895vw;
    }

    body header .account {
        align-items: center;
        text-align: center;
        background-color: var(--white);
        border-radius: 10.5263157895vw;
        display: flex;
        margin-right: 5.26315789474vw;
    }

    body header .account .icon{
        background-color: white;
        border-radius: 500px;
        height: 10.5263157895vw;
        width: 10.5263157895vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body header .account a {
        text-decoration: none;
    }

    body header .account .icon img {
        background-color: transparent;
        width: 3.15789473684vw;
        height: 4.21052631579vw;
    }

    body header .account span {
        display: none;
    }
    
    body footer {
        background-color: white;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: 12.8571428571vh;
        padding-top: 3.80952380952vh;
        padding-bottom: 3.80952380952vh;
    }

    body footer .privacy {
        color: var(--bunker);
        font-family: var(--font-family-sf_pro_display-regular);
        font-size: 4.21052631579vw;
        font-style: normal;
        font-weight: 400;
        opacity: 0.3;
        text-align: left;
        margin-top: 4.21052631579vw;
        text-decoration: none;
        height: 3.68421052632vw;
    }

    body footer .company {
        background-color: transparent;
        color: var(--bunker);
        font-family: var(--font-family-sf_pro_display-regular);
        font-size: 3.68421052632vw;
        font-style: normal;
        font-weight: 400;
        opacity: 0.3;
        text-align: right;
        white-space: nowrap;
        height: 3.68421052632vw;
        text-decoration: none;
    }

    body footer .settings {
        display: none;
    }

    body footer .settings a {
        -webkit-backdrop-filter: blur(20px) brightness(100%);
        backdrop-filter: blur(20px) brightness(100%);
        background-color: white;
        border: none;
        border-radius: 50vh;
        height: 4.4vh;
        width: 4.4vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2vh;
        margin-right: 1.04166666667vw;
    }

    body footer .settings a img {
        height: auto;
        width: 1.04166666667vw;
        display: block;
        margin: auto;
    }

    .cross {
        position: absolute;
        top: 2.61vh;
        right: 2.61vh;
        height: 4.41578947368vw;
        width: 4.41578947368vw;
        filter: invert(77%) sepia(2%) saturate(1396%) hue-rotate(169deg) brightness(82%) contrast(91%);
    }

    .cross:hover {
        filter: invert(5%) sepia(6%) saturate(712%) hue-rotate(169deg) brightness(101%) contrast(92%);
    }
}