// Переменные
$primary-color: #101010;
$background-color: #ffffff;
$animation-duration: 0.3s;

// Анимации
@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// Кнопки
button {
    transition: transform $animation-duration ease-in-out;
    
    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.95);
    }
}

// Анимация появления модальных окон
#downloadQr .frame,
#qrEditor .frame {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity $animation-duration ease-out, transform $animation-duration ease-out;

    &:not([hidden]) {
        animation: fadeInScale $animation-duration ease-out;
    }
}

// Анимация меню
.menu {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity $animation-duration ease-out, transform $animation-duration ease-out;

    &:not([hidden]) {
        opacity: 1;
        transform: translateY(0);
        animation: fadeIn $animation-duration ease-out;
    }
}
