#addFavorite .background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #141516;
    opacity: 0.4;
    z-index: 1000;
}

@media (orientation: landscape) {

    #addFavorite .frame {
        width: 23.9583333333vw;
        height: 31.4vh;
        position: absolute;
        top: 34.3vh;
        left: 38.0208333333vw;
        gap: 0.4vh;
        border-radius: 2vh;
        z-index: 1001;
        background-color: white;
        padding: 4vh;
    }

    #addFavorite .frame h1 {
        font-family: var(--font-family-sf_pro_display-regular);
        font-size: 1.5625vw;
        font-weight: 500;
        line-height: 1.875vw;
        letter-spacing: -0.02em;
        text-align: left;
        color: #141516;
    }

    #addFavorite .frame input {
        margin-top: 4vh !important;
        width: 100%;
        height: 7vh;
        border: #F1F3F5;
        border-radius: 2vh;
        padding: 2.6vh;
        padding-right: 2.447916666vw;
        margin-top: 0;
        font-family: var(--font-family-sf_pro_display-medium);
        background-color: var(--wild-sand);
        font-size: 0.9375vw;
        color: #141516;
        line-height: 0.9375vw;
        outline: none;
    }

    #addFavorite .frame button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-top: 2vh !important;
        width: 100%;
        height: 6.8vh;
        border: #F1F3F5;
        border-radius: 2vh;
        padding: 2.6vh;
        padding-right: 2.447916666vw;
        margin-top: 0;
        font-family: var(--font-family-sf_pro_display-medium);
        background-color: var(--wild-sand);
        font-size: 0.9375vw;
        font-weight: 500;
        line-height: 0.9375vw;
        letter-spacing: -0.01em;
        color: #989FA6;
        outline: none;
    }

    #addFavorite .frame button span {
        margin-right: 0.52083333333vw;
        vertical-align: middle;
    }

    #addFavorite .frame button img {
        height: 1.04166666667vw;
        vertical-align: middle;
    }
}

@media (orientation: portrait) {

    #addFavorite .frame {
        width: 100%;
        height: 79.2105263158vw;
        position: absolute;
        bottom: 0;
        left: 0;
        gap: 0.4vh;
        border-radius: 2vh;
        z-index: 1001;
        background-color: white;
        padding: 4vh;
    }

    #addFavorite .frame h1 {
        font-family: var(--font-family-sf_pro_display-medium);
        font-size: 6.31578947368vw;
        font-weight: 500;
        text-align: left;
        color: #141516;
    }

    #addFavorite .frame input {
        margin-top: 6.31578947368vw !important;
        width: 100%;
        height: 15.2631578947vw;
        border: #F1F3F5;
        border-radius: 3.15789473684vw;
        padding: 6.84210526316vw;
        padding-right: 2.447916666vw;
        margin-top: 0;
        font-family: var(--font-family-sf_pro_display-regular);
        background-color: var(--wild-sand);
        font-size: 4.73684210526vw;
        color: #141516;
        outline: none;
    }

    #addFavorite .frame button {
        margin-top: 3.15789473684vw !important;
        width: 100%;
        height: 15.2631578947vw;
        border: #F1F3F5;
        border-radius: 3.15789473684vw;
        margin-top: 0;
        font-family: var(--font-family-sf_pro_display-medium);
        background-color: var(--wild-sand);
        font-size: 4.73684210526vw;
        color: #989FA6;
        outline: none;
    }

    #addFavorite .frame button span {
        margin-right: 0.52083333333vw;
        vertical-align: middle;
    }

    #addFavorite .frame button img {
        width: 5.26315789474vw;
        vertical-align: middle;
    }
}