#changeBackground .active-color {
    border: 2px solid #1599F5;
}

@media (orientation: landscape) {
    #changeBackground {
        position: absolute;
        width: 16.25vw;
        height: 15.8vh;
        background-color: white;
        padding: 3.2vh;
        border-radius: 2vh;
        right: 1.04166666667vw;
        bottom: 7.2vh;
        box-shadow: 0px 4px 14px 0px #14151626;
    }

    #changeBackground h1 {
        font-family: var(--font-family-sf_pro_display-middle);
        font-size: 0.9375vw;
        font-weight: 500;
        line-height: 0.9375vw;
        text-align: left;
        color: #141516;
    }

    #changeBackground button {
        height: 2.91666666667vw;
        width: 2.91666666667vw;
        border: 2px solid #F1F3F5;
        border-radius: 5vh;
        background: none;
        padding: 0.24vw;
    }

    #changeBackground button div {
        height: 2.29166666667vw;
        width: 2.29166666667vw;
        border-radius: 5vh;
    }
}

@media (orientation: portrait) {

}